/* Contact us Start------*/
*
{
  margin:0;
  padding:0;
}
body{
  background-color:#efefef;
}
.contact-info{
  width:100%;
  height:100vh;
  background-image:url(img/background.jpg);
  background-position:center;
  background-size:cover;
  display:flex;  
}
.reach-us{
  width:500px;
  height:540px;
  background-color: rgb(228, 177, 10);
  top:55%;
  left:75%;
  transform:translate(-50%,-50%);
  position:absolute;
}
.contact-box{
  width:800px;
  height:540px;
  background-color: #fff;
  top:55%;
  left:35%;
  transform:translate(-50%,-50%);
  position:absolute;
}
.info-section{
  color:white;
  font-size:30px;
  padding-top:30px;
  padding-left:10ps;
}
.reach-us-info{
  padding-top:50px;
  padding-left:30px;
  color:white;
  font-size:25px;
} 
form{
  margin:35px;
}
.input-field{
  width:650px;
  height:45px;
  margin-top:20px;
  padding-left:10px;
  padding-right:10px;
  border:1px solid #777;
  border-radius:10px;
  outline:none;
}
.textarea-field{
  height:150px;
  padding-top:10px;
}
.btn{
  border-radius:20px;
  color:black;
  margin-top:18px;
  padding:10px;
  background-color: rgb(228, 177, 10);
  font-size:20px;
  border:none;
  cursor:pointer;
}
.h1-container{
  text-align:center;
  padding-top:10px; 
  font-size:35px;
}

/*Contact us end---------*/
