body { margin: 0px;border: 0px;padding: 0px; }
* { font-family: sans-serif;}

/* header start */
.header { overflow: hidden; background-color: #65C18C;padding: 10px 10px; height: 50px; }
.header a { float: left; color: black; text-align: center;
    padding: 12px; text-decoration: none; font-size: 18px; 
    line-height: 25px; border-radius: 4px;}
.header a.logo { font-size: 30px; font-weight: bold; }
.header a:hover { background-color: #ddd; color: black; }
.header a.active { width: 100px; height: auto; background-color: rgb(169, 228, 121); 
    margin-right: 10px; color: white; }
.header-right { float: right;}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
/* Header end-------------------------------------*/

/* navbar section-------------------------------------*/
.navbar{
    background-color: #C1F4C5;
    border-radius: 15px;
    text-align: center;
  }
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;}
.navbar ul{ overflow: auto;}
.navbar li a{ padding: 3px 3px; text-decoration: none; color: black;}
.navbar li a:hover{ color: red }
.search{ float: right; color: white; padding: 12px 75px; }
.navbar input{
        border: 2px solid black;
        border-radius: 14px;
        padding: 3px 17px; width: 129px;
    }


/* navbar end-------------------------------------*/

/*Categories  section*/
.conatiner{
  background-color: #C9F4AA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.item {
  background-color: #FCC2FC;
  height: 300px;
  width: 250px;
  margin: 10px;

}
.box{
  background-color:#38E54D;
  height: 230px;
  width: 230px;
  margin: 10px;
  font-size: 50px;
}
h1 {
  text-shadow: #C1F4C5;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;

}
/* Media Queries */

@media (max-width: 600px) {
.flexbox .conatiner .item .box {
    text-align: center;
  }
  .flexbox .conatiner .item {
    float: right;
    margin: 0 auto 20px;
  }
   .flexbox{
    line-height: 1.8;
  }
}
/*category media end-----------------------*/

/*categories section end*/
/*Profile page*/
.header-section{
  display: flex;
  justify-content:space-evenly;

 }
 .header-profile-image{
  width: 500px;
  height: 300px;
 }

 .header-profile-description{
  width: 800px;
  height: 800px;
  padding-bottom: 500px;
  display:flex;
 }

 
 

 .header-profile-image{
  padding-top: 30px;
  width: 200px;
  height: 200px;
  align-items: center;
 }
 
 .btn{
  cursor:pointer;

 }
 
 .btn1{
  width:80px;
  height:30px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color:green;
  color:white;
  border-radius: 50px 50px 50px 50px;

 }
 body{
  background-color: Rgb(228,177,10);
 }
 .h1-contain{
  display:flex;
  justify-content: flex-start;
  font-family: sans-serif;
  font-size: 32px;
 }
 #inputEmail{
  width:250px;
 }
 #inputAddressLine{
  width:600px;
 }
 
/*profile page end*/

/*Login Page CSS*/
.loginbox{
	width: 320px;
	height: 420px;
	background:#000;
	color:#fff;
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
}
.loginh1{
margin: 0;
padding: 0;
text-align: top;
font-size:25px;
}
.loginbox p{
	margin:0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;
}
.loginbox input[type="text"]:focus,input[type="password"]:focus{
	width: 300px;
	border-color: red;
}
.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background:#ffc107;
	color:#000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color:darkgrey;
}
.loginbox a:hover {
	 color: #e51400;
}

/*Login Page CSS end*/




/*footer section*/
.footerarea {
  background-color: #65C18C;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footerarea .footer-left p { color: black; font-size: 16px; margin: 0; }
.footerarea p.footer-links {
  font-size: 18px;  font-weight: bold;  color: #ffffff; 
  margin: 0 0 10px; padding: 0; transition: ease .25s; }

.footerarea p.footer-links a {
  display: inline-block;  line-height: 1.8;  text-decoration: none; 
   color: inherit;   transition: ease .25s; }

.footerarea .footer-links a:before {
  content: "|";  font-size: 20px; left: 0;
  color: #fff;  display: inline-block; padding-right: 5px;
}

/* Media Queries */

@media (max-width: 600px) {
  .footerarea .footer-left, .footerarea {
    text-align: center;
  }
  .footerarea {
    float: none;
    margin: 0 auto 20px;
  }
  .footerarea .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/*footer end-----------------------*/